NODE_ENV=production
NEXT_PUBLIC_SERVER_URL=
DATABASE_URI=
DATABASE_TLS_CA_FILE=
DATABASE_POOL_MAX=10
DATABASE_CONNECT_TIMEOUT_SECONDS=10
DATABASE_STATEMENT_TIMEOUT_MS=30000
PAYLOAD_DB_PUSH=false
PAYLOAD_SECRET=
REVALIDATE_SECRET=
JOBS_AUTORUN=true
S3_BUCKET=
S3_ENDPOINT=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_PREFIX=media
LEAD_CHANNELS=
LEAD_OUTBOUND_HOSTS=
EXTERNAL_IMAGE_HOSTS=
